In [6]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import datetime

AttributeError: module 'pandas' has no attribute 'read'

In [7]:
election_one = "Resources/2008_US_Election.csv"
election_two = "Resources/primary_results.csv"


pd_election_one = pd.read_csv(election_one)
pd_election_two = pd.read_csv(election_two)

In [8]:
pd_election_one.head()

,year,state,state_po,state_fips,state_fips.1,state_fips.2,state_fips.3,state_fips.4,state_fips.5,state_fips.6,state_fips.7,state_fips.8,state_fips.9,state_fips.10
0,2008,Alabama,AL,1,63,41,US President,"McCain, John",republican,False,1266546,2099819,20171015,NaN
1,2008,Alabama,AL,1,63,41,US President,"Obama, Barack H.",democrat,False,813479,2099819,20171015,NaN
2,2008,Alabama,AL,1,63,41,US President,NaN,independent,False,16089,2099819,20171015,NaN
3,2008,Alabama,AL,1,63,41,US President,NaN,NaN,True,3705,2099819,20171015,NaN
4,2008,Alaska,AK,2,94,81,US President,"McCain, John",republican,False,193841,326197,20171015,NaN

In [9]:
pd_election_two.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [10]:
#count demo & republicans
pd_election_two.groupby(["state","party"]).count()

                          state_abbreviation  county  fips  candidate  votes  \
state         party
Alabama       Democrat                   134     134   134        134    134
              Republican                 335     335   335        335    335
Alaska        Democrat                    80      80    80         80     80
              Republican                 200     200   200        200    200
Arizona       Democrat                    30      30    30         30     30
...                                      ...     ...   ...        ...    ...
West Virginia Republican                 165     165   165        165    165
Wisconsin     Democrat                   144     144   144        144    144
              Republican                 216     216   216        216    216
Wyoming       Democrat                    46      46    46         46     46
              Republican                  48      48    48         48     48

                          fraction_votes
state         party
Alabama       Democrat               134
              Republican             335
Alaska        Democrat                80
              Republican             200
Arizona       Democrat                30
...                                  ...
West Virginia Republican             165
Wisconsin     Democrat               144
              Republican             216
Wyoming       Democrat                46
              Republican              48

[95 rows x 6 columns]

In [17]:
pd_election_one.groupby(["candidatevotes"]).count()

KeyError: 'candidatevotes'

In [9]:
#create a DataFrame from csv
my_dataframe = pd.read_csv('Resources/2008_US_Election.csv')
#drop any empty cells
my_dataframe.dropna(axis =0, how ='any',thresh = None, subset = None, inplace = False)

Empty DataFrame
Columns: [year, state , state_po, state_fips, state_fips.1, state_fips.2, state_fips.3, state_fips.4, state_fips.5, state_fips.6, state_fips.7, state_fips.8, state_fips.9, state_fips.10]
Index: []

In [10]:
pd_election_one.head(15)

,year,state,state_po,state_fips,state_fips.1,state_fips.2,state_fips.3,state_fips.4,state_fips.5,state_fips.6,state_fips.7,state_fips.8,state_fips.9,state_fips.10
0,2008,Alabama,AL,1,63,41,US President,"McCain, John",republican,False,1266546,2099819,20171015,NaN
1,2008,Alabama,AL,1,63,41,US President,"Obama, Barack H.",democrat,False,813479,2099819,20171015,NaN
2,2008,Alabama,AL,1,63,41,US President,NaN,independent,False,16089,2099819,20171015,NaN
3,2008,Alabama,AL,1,63,41,US President,NaN,NaN,True,3705,2099819,20171015,NaN
4,2008,Alaska,AK,2,94,81,US President,"McCain, John",republican,False,193841,326197,20171015,NaN
5,2008,Alaska,AK,2,94,81,US President,"Obama, Barack H.",democrat,False,123594,326197,20171015,NaN
6,2008,Alaska,AK,2,94,81,US President,"Nader, Ralph",independent,False,3783,326197,20171015,NaN
7,2008,Alaska,AK,2,94,81,US President,NaN,NaN,True,1730,326197,20171015,NaN
8,2008,Alaska,AK,2,94,81,US President,"Baldwin, Charles """"Chuck""""",alaskan independence party,False,1660,326197,20171015,NaN
9,2008,Alaska,AK,2,94,81,US President,"Barr, Bob",libertarian,False,1589,326197,20171015,NaN
10,2008,Arizona,AZ,4,86,61,US President,"McCain, John",republican,False,1230111,2293475,20171015,NaN
11,2008,Arizona,AZ,4,86,61,US President,"Obama, Barack H.",democrat,False,1034707,2293475,20171015,NaN
12,2008,Arizona,AZ,4,86,61,US President,"Barr, Bob",libertarian,False,12555,2293475,20171015,NaN
13,2008,Arizona,AZ,4,86,61,US President,"Nader, Ralph",independent,False,11301,2293475,20171015,NaN
14,2008,Arizona,AZ,4,86,61,US President,"McKinney, Cynthia",green,False,3406,2293475,20171015,NaN