In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import datetime

In [2]:
votes = "Resources/votes.csv"
pd_votes = pd.read_csv(votes)

In [3]:
pd_votes.head()

,Unnamed: 0,X,combined_fips,votes_dem_2016,votes_gop_2016,total_votes_2016,Clinton,Trump,diff_2016,per_point_diff_2016,...,AFN120207,BPS030214,LND110210,Density,Clinton_Obama,Trump_Romney,Trump_Prediction,Clinton_Prediction,Trump_Deviation,Clinton_Deviation
0,30,29,1001,5908,18110,24661,0.239569,0.734358,12202,-0.494789,...,88157,131,594.44,91.8,-0.026189,0.008021,0.620859,0.340493,-0.113499,0.100924
1,31,30,1003,18409,72780,94090,0.195653,0.773515,54371,-0.577862,...,436955,1384,1589.78,114.6,-0.020013,-0.000383,0.586749,0.359502,-0.186766,0.163849
2,32,31,1005,4848,5431,10390,0.466603,0.522714,583,-0.056112,...,0,8,884.88,31.0,-0.045920,0.039339,0.517832,0.474693,-0.004882,0.008090
3,33,32,1007,1874,6733,8748,0.214220,0.769662,4859,-0.555441,...,10757,19,622.58,36.8,-0.047965,0.038998,0.692227,0.286031,-0.077434,0.071811
4,34,33,1009,2150,22808,25384,0.084699,0.898519,20658,-0.813820,...,20941,3,644.78,88.9,-0.038779,0.033590,0.789649,0.177490,-0.108870,0.092791

In [4]:
election_one = "Resources/2008_US_Election.csv"
election_two = "Resources/primary_results.csv"


pd_election_one = pd.read_csv(election_one)
pd_election_two = pd.read_csv(election_two)

In [5]:
pd_election_one.head()

,year,state,state_po,state_fips,state_fips.1,state_fips.2,state_fips.3,state_fips.4,state_fips.5,state_fips.6,state_fips.7,state_fips.8,state_fips.9,state_fips.10
0,2008,Alabama,AL,1,63,41,US President,"McCain, John",republican,False,1266546,2099819,20171015,NaN
1,2008,Alabama,AL,1,63,41,US President,"Obama, Barack H.",democrat,False,813479,2099819,20171015,NaN
2,2008,Alabama,AL,1,63,41,US President,NaN,independent,False,16089,2099819,20171015,NaN
3,2008,Alabama,AL,1,63,41,US President,NaN,NaN,True,3705,2099819,20171015,NaN
4,2008,Alaska,AK,2,94,81,US President,"McCain, John",republican,False,193841,326197,20171015,NaN

In [6]:
pd_election_two.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [7]:
#count demo & republicans
pd_election_two.groupby(["state","party"]).count()

                          state_abbreviation  county  fips  candidate  votes  \
state         party
Alabama       Democrat                   134     134   134        134    134
              Republican                 335     335   335        335    335
Alaska        Democrat                    80      80    80         80     80
              Republican                 200     200   200        200    200
Arizona       Democrat                    30      30    30         30     30
...                                      ...     ...   ...        ...    ...
West Virginia Republican                 165     165   165        165    165
Wisconsin     Democrat                   144     144   144        144    144
              Republican                 216     216   216        216    216
Wyoming       Democrat                    46      46    46         46     46
              Republican                  48      48    48         48     48

                          fraction_votes
state         party
Alabama       Democrat               134
              Republican             335
Alaska        Democrat                80
              Republican             200
Arizona       Democrat                30
...                                  ...
West Virginia Republican             165
Wisconsin     Democrat               144
              Republican             216
Wyoming       Democrat                46
              Republican              48

[95 rows x 6 columns]

In [8]:
pd_election_one.groupby(["state ","state_fips.7","state_fips.8"]).count()

                                   year  state_po  state_fips  state_fips.1  \
state   state_fips.7 state_fips.8
Alabama 3705         2099819          1         1           1             1
        16089        2099819          1         1           1             1
        813479       2099819          1         1           1             1
        1266546      2099819          1         1           1             1
Alaska  1589         326197           1         1           1             1
...                                 ...       ...         ...           ...
Wyoming 1521         254904           1         1           1             1
        1594         254904           1         1           1             1
        3717         254904           1         1           1             1
        82868        254904           1         1           1             1
        164958       254904           1         1           1             1

                                   state_fips.2  state_fips.3  state_fips.4  \
state   state_fips.7 state_fips.8
Alabama 3705         2099819                  1             1             0
        16089        2099819                  1             1             0
        813479       2099819                  1             1             1
        1266546      2099819                  1             1             1
Alaska  1589         326197                   1             1             1
...                                         ...           ...           ...
Wyoming 1521         254904                   1             1             0
        1594         254904                   1             1             1
        3717         254904                   1             1             0
        82868        254904                   1             1             1
        164958       254904                   1             1             1

                                   state_fips.5  state_fips.6  state_fips.9  \
state   state_fips.7 state_fips.8
Alabama 3705         2099819                  0             1             1
        16089        2099819                  1             1             1
        813479       2099819                  1             1             1
        1266546      2099819                  1             1             1
Alaska  1589         326197                   1             1             1
...                                         ...           ...           ...
Wyoming 1521         254904                   0             1             1
        1594         254904                   1             1             1
        3717         254904                   1             1             1
        82868        254904                   1             1             1
        164958       254904                   1             1             1

                                   state_fips.10
state   state_fips.7 state_fips.8
Alabama 3705         2099819                   0
        16089        2099819                   0
        813479       2099819                   0
        1266546      2099819                   0
Alaska  1589         326197                    0
...                                          ...
Wyoming 1521         254904                    0
        1594         254904                    0
        3717         254904                    0
        82868        254904                    0
        164958       254904                    0

[351 rows x 11 columns]

In [9]:
pd_election_one.groupby(["state "]).count()

,year,state_po,state_fips,state_fips.1,state_fips.2,state_fips.3,state_fips.4,state_fips.5,state_fips.6,state_fips.7,state_fips.8,state_fips.9,state_fips.10
state,,,,,,,,,,,,,
Alabama,4,4,4,4,4,4,2,3,4,4,4,4,0
Alaska,6,6,6,6,6,6,5,5,6,6,6,6,0
Arizona,6,6,6,6,6,6,5,5,6,6,6,6,0
Arkansas,7,7,7,7,7,7,7,7,7,7,7,7,0
California,7,7,7,7,7,7,6,7,7,7,7,7,0
Colorado,16,16,16,16,16,16,16,16,16,16,16,16,0
Connecticut,4,4,4,4,4,4,3,3,4,4,4,4,0
Delaware,7,7,7,7,7,7,7,7,7,7,7,7,0
District of Columbia,5,5,5,5,5,5,4,4,5,5,5,5,0
Florida,14,14,14,14,14,14,13,13,14,14,14,14,0
Georgia,5,5,5,5,5,5,3,4,5,5,5,5,0
Hawaii,8,8,8,8,8,8,8,6,8,8,8,8,0
Idaho,6,6,6,6,6,6,5,5,6,6,6,6,0
Illinois,8,8,8,8,8,8,6,7,8,8,8,8,0
Indiana,5,5,5,5,5,5,4,4,5,5,5,5,0
Iowa,10,10,10,10,10,10,9,9,10,10,10,10,0
Kansas,5,5,5,5,5,5,5,5,5,5,5,5,0
Kentucky,6,6,6,6,6,6,5,5,6,6,6,6,0
Louisiana,9,9,9,9,9,9,9,9,9,9,9,9,0
Maine,5,5,5,5,5,5,5,4,5,5,5,5,0
Maryland,7,7,7,7,7,7,6,6,7,7,7,7,0
Massachusetts,8,8,8,8,8,8,8,6,8,8,8,8,0
Michigan,6,6,6,6,6,6,6,6,6,6,6,6,0
Minnesota,8,8,8,8,8,8,7,7,8,8,8,8,0
Mississippi,7,7,7,7,7,7,7,7,7,7,7,7,0
Missouri,6,6,6,6,6,6,6,5,6,6,6,6,0
Montana,5,5,5,5,5,5,5,5,5,5,5,5,0
Nebraska,7,7,7,7,7,7,6,6,7,7,7,7,0
Nevada,7,7,7,7,7,7,7,6,7,7,7,7,0
New Hampshire,5,5,5,5,5,5,4,4,5,5,5,5,0
New Jersey,10,10,10,10,10,10,10,10,10,10,10,10,0
New Mexico,6,6,6,6,6,6,6,6,6,6,6,6,0
New York,12,12,12,12,12,12,11,10,12,12,12,12,0
North Carolina,5,5,5,5,5,5,4,4,5,5,5,5,0
North Dakota,5,5,5,5,5,5,5,5,5,5,5,5,0
Ohio,8,8,8,8,8,8,7,8,8,8,8,8,0
Oklahoma,2,2,2,2,2,2,2,2,2,2,2,2,0
Oregon,7,7,7,7,7,7,6,6,7,7,7,7,0
Pennsylvania,6,6,6,6,6,6,5,4,6,6,6,6,0
Rhode Island,8,8,8,8,8,8,7,7,8,8,8,8,0
South Carolina,6,6,6,6,6,6,6,6,6,6,6,6,0
South Dakota,5,5,5,5,5,5,5,5,5,5,5,5,0
Tennessee,3,3,3,3,3,3,2,3,3,3,3,3,0
Texas,5,5,5,5,5,5,4,4,5,5,5,5,0
Utah,8,8,8,8,8,8,7,7,8,8,8,8,0
Vermont,9,9,9,9,9,9,8,8,9,9,9,9,0
Virginia,7,7,7,7,7,7,6,6,7,7,7,7,0
Washington,8,8,8,8,8,8,8,8,8,8,8,8,0
West Virginia,6,6,6,6,6,6,5,5,6,6,6,6,0
Wisconsin,10,10,10,10,10,10,10,9,10,10,10,10,0
Wyoming,6,6,6,6,6,6,4,4,6,6,6,6,0

In [10]:
#create a DataFrame from csv
my_dataframe = pd.read_csv('Resources/2008_US_Election.csv')
#drop any empty cells
my_dataframe.dropna(axis =0, how ='any',thresh = None, subset = None, inplace = False)

Empty DataFrame
Columns: [year, state , state_po, state_fips, state_fips.1, state_fips.2, state_fips.3, state_fips.4, state_fips.5, state_fips.6, state_fips.7, state_fips.8, state_fips.9, state_fips.10]
Index: []

In [11]:
pd_election_one.head(15)

,year,state,state_po,state_fips,state_fips.1,state_fips.2,state_fips.3,state_fips.4,state_fips.5,state_fips.6,state_fips.7,state_fips.8,state_fips.9,state_fips.10
0,2008,Alabama,AL,1,63,41,US President,"McCain, John",republican,False,1266546,2099819,20171015,NaN
1,2008,Alabama,AL,1,63,41,US President,"Obama, Barack H.",democrat,False,813479,2099819,20171015,NaN
2,2008,Alabama,AL,1,63,41,US President,NaN,independent,False,16089,2099819,20171015,NaN
3,2008,Alabama,AL,1,63,41,US President,NaN,NaN,True,3705,2099819,20171015,NaN
4,2008,Alaska,AK,2,94,81,US President,"McCain, John",republican,False,193841,326197,20171015,NaN
5,2008,Alaska,AK,2,94,81,US President,"Obama, Barack H.",democrat,False,123594,326197,20171015,NaN
6,2008,Alaska,AK,2,94,81,US President,"Nader, Ralph",independent,False,3783,326197,20171015,NaN
7,2008,Alaska,AK,2,94,81,US President,NaN,NaN,True,1730,326197,20171015,NaN
8,2008,Alaska,AK,2,94,81,US President,"Baldwin, Charles """"Chuck""""",alaskan independence party,False,1660,326197,20171015,NaN
9,2008,Alaska,AK,2,94,81,US President,"Barr, Bob",libertarian,False,1589,326197,20171015,NaN
10,2008,Arizona,AZ,4,86,61,US President,"McCain, John",republican,False,1230111,2293475,20171015,NaN
11,2008,Arizona,AZ,4,86,61,US President,"Obama, Barack H.",democrat,False,1034707,2293475,20171015,NaN
12,2008,Arizona,AZ,4,86,61,US President,"Barr, Bob",libertarian,False,12555,2293475,20171015,NaN
13,2008,Arizona,AZ,4,86,61,US President,"Nader, Ralph",independent,False,11301,2293475,20171015,NaN
14,2008,Arizona,AZ,4,86,61,US President,"McKinney, Cynthia",green,False,3406,2293475,20171015,NaN

In [12]:
df_election_one = pd.read_csv(election_one)
df_election_one.reset_index(inplace = True)
df_election_one = df_election_one.rename(columns = {'state_fips.7':'candidatevotes',
                                                    'state_fips.8':'totalvotes'})

In [13]:
df_election_one.head()

,index,year,state,state_po,state_fips,state_fips.1,state_fips.2,state_fips.3,state_fips.4,state_fips.5,state_fips.6,candidatevotes,totalvotes,state_fips.9,state_fips.10
0,0,2008,Alabama,AL,1,63,41,US President,"McCain, John",republican,False,1266546,2099819,20171015,NaN
1,1,2008,Alabama,AL,1,63,41,US President,"Obama, Barack H.",democrat,False,813479,2099819,20171015,NaN
2,2,2008,Alabama,AL,1,63,41,US President,NaN,independent,False,16089,2099819,20171015,NaN
3,3,2008,Alabama,AL,1,63,41,US President,NaN,NaN,True,3705,2099819,20171015,NaN
4,4,2008,Alaska,AK,2,94,81,US President,"McCain, John",republican,False,193841,326197,20171015,NaN

In [14]:
pd_votes.groupby(["total_votes_2016","state_abbr"]).count()

,,Unnamed: 0,X,combined_fips,votes_dem_2016,votes_gop_2016,Clinton,Trump,diff_2016,per_point_diff_2016,county_name,...,AFN120207,BPS030214,LND110210,Density,Clinton_Obama,Trump_Romney,Trump_Prediction,Clinton_Prediction,Trump_Deviation,Clinton_Deviation
total_votes_2016,state_abbr,,,,,,,,,,,,,,,,,,,,,
64,TX,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
159,TX,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
186,TX,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
263,NE,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
283,ID,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092116,CA,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1201934,AZ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1302887,TX,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2055215,IL,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2652072,CA,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [15]:
vote_stratified_votes = pd_votes.groupby(["state_abbr"]).count() 
vote_stratified_votes

,Unnamed: 0,X,combined_fips,votes_dem_2016,votes_gop_2016,total_votes_2016,Clinton,Trump,diff_2016,per_point_diff_2016,...,AFN120207,BPS030214,LND110210,Density,Clinton_Obama,Trump_Romney,Trump_Prediction,Clinton_Prediction,Trump_Deviation,Clinton_Deviation
state_abbr,,,,,,,,,,,,,,,,,,,,,
AL,67,67,67,67,67,67,67,67,67,67,...,67,67,67,67,67,67,67,67,67,67
AR,75,75,75,75,75,75,75,75,75,75,...,75,75,75,75,75,75,75,75,75,75
AZ,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
CA,58,58,58,58,58,58,58,58,58,58,...,58,58,58,58,58,58,58,58,58,58
CO,64,64,64,64,64,64,64,64,64,64,...,64,64,64,64,64,64,64,64,64,64
CT,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
DC,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
DE,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
FL,67,67,67,67,67,67,67,67,67,67,...,67,67,67,67,67,67,67,67,67,67
GA,159,159,159,159,159,159,159,159,159,159,...,159,159,159,159,159,159,159,159,159,159
HI,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
IA,99,99,99,99,99,99,99,99,99,99,...,99,99,99,99,99,99,99,99,99,99
ID,44,44,44,44,44,44,44,44,44,44,...,44,44,44,44,44,44,44,44,44,44
IL,102,102,102,102,102,102,102,102,102,102,...,102,102,102,102,102,102,102,102,102,102
IN,92,92,92,92,92,92,92,92,92,92,...,92,92,92,92,92,92,92,92,92,92
KS,105,105,105,105,105,105,105,105,105,105,...,105,105,105,105,105,105,105,105,105,105
KY,120,120,120,120,120,120,120,120,120,120,...,120,120,120,120,120,120,120,120,120,120
LA,64,64,64,64,64,64,64,64,64,64,...,64,64,64,64,64,64,64,64,64,64
MA,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
MD,24,24,24,24,24,24,24,24,24,24,...,24,24,24,24,24,24,24,24,24,24
ME,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
MI,83,83,83,83,83,83,83,83,83,83,...,83,83,83,83,83,83,83,83,83,83
MN,87,87,87,87,87,87,87,87,87,87,...,87,87,87,87,87,87,87,87,87,87
MO,115,115,115,115,115,115,115,115,115,115,...,115,115,115,115,115,115,115,115,115,115
MS,82,82,82,82,82,82,82,82,82,82,...,82,82,82,82,82,82,82,82,82,82
MT,56,56,56,56,56,56,56,56,56,56,...,56,56,56,56,56,56,56,56,56,56
NC,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
ND,53,53,53,53,53,53,53,53,53,53,...,53,53,53,53,53,53,53,53,53,53
NE,93,93,93,93,93,93,93,93,93,93,...,93,93,93,93,93,93,93,93,93,93
NH,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
NJ,21,21,21,21,21,21,21,21,21,21,...,21,21,21,21,21,21,21,21,21,21
NM,33,33,33,33,33,33,33,33,33,33,...,33,33,33,33,33,33,33,33,33,33
NV,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
NY,62,62,62,62,62,62,62,62,62,62,...,62,62,62,62,62,62,62,62,62,62
OH,88,88,88,88,88,88,88,88,88,88,...,88,88,88,88,88,88,88,88,88,88
OK,77,77,77,77,77,77,77,77,77,77,...,77,77,77,77,77,77,77,77,77,77
OR,36,36,36,36,36,36,36,36,36,36,...,36,36,36,36,36,36,36,36,36,36
PA,67,67,67,67,67,67,67,67,67,67,...,67,67,67,67,67,67,67,67,67,67
RI,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
SC,46,46,46,46,46,46,46,46,46,46,...,46,46,46,46,46,46,46,46,46,46
SD,66,66,66,66,66,66,66,66,66,66,...,66,66,66,66,66,66,66,66,66,66
TN,95,95,95,95,95,95,95,95,95,95,...,95,95,95,95,95,95,95,95,95,95
TX,254,254,254,254,254,254,254,254,254,254,...,254,254,254,254,254,254,254,254,254,254
UT,29,29,29,29,29,29,29,29,29,29,...,29,29,29,29,29,29,29,29,29,29
VA,133,133,133,133,133,133,133,133,133,133,...,133,133,133,133,133,133,133,133,133,133
VT,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
WA,39,39,39,39,39,39,39,39,39,39,...,39,39,39,39,39,39,39,39,39,39
WI,72,72,72,72,72,72,72,72,72,72,...,72,72,72,72,72,72,72,72,72,72
WV,55,55,55,55,55,55,55,55,55,55,...,55,55,55,55,55,55,55,55,55,55
WY,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23

In [16]:
total_votes_2016 = pd_votes["total_votes_2016"]
total_votes_2012 = pd_votes["total_votes_2012"]
state_abbr = pd_votes["state_abbr"]

In [17]:
total_votes = pd.DataFrame({"state_abbr":state_abbr,
                            "total_votes_2016":total_votes_2016,
                            "total_votes_2012":total_votes_2012})
total_votes

     state_abbr  total_votes_2016  total_votes_2012
0            AL             24661             23909
1            AL             94090             84988
2            AL             10390             11459
3            AL              8748              8391
4            AL             25384             23980
...         ...               ...               ...
3107         WY             16661             16750
3108         WY             12176             11356
3109         WY              8053              8453
3110         WY              3715              3911
3111         WY              3334              3323

[3112 rows x 3 columns]

In [18]:
 total_votes.groupby(["state_abbr"]).sum()

            total_votes_2016  total_votes_2012
state_abbr
AL                   2078165           2064699
AR                   1108615           1062831
AZ                   2062810           2041519
CA                  11733523          10538656
CO                   2564185           2419698
CT                   1623542           1562187
DC                    280272            243348
DE                    441535            413844
FL                   9386750           8470205
GA                   4029564           3877038
HI                    428825            429494
IA                   1542880           1565968
ID                    688235            651871
IL                   5374280           5113726
IN                   2722029           2602883
KS                   1147143           1131244
KY                   1922218           1796736
LA                   2027731           1993555
MA                   3231531           3129731
MD                   2474543           2475956
ME                    741550            710738
MI                   4790917           4717728
MN                   2916404           2928942
MO                   2775098           2744935
MS                   1162987           1214004
MT                    483574            479386
NC                   4629471           4499039
ND                    336968            319825
NE                    805638            765083
NH                    731553            705874
NJ                   3674893           3378826
NM                    783127            772329
NV                   1122990           1011105
NY                   7046175           6188982
OH                   5325395           5379090
OK                   1451056           1332019
OR                   1808575           1713697
PA                   5970107           5596499
RI                    450121            437380
SC                   2084444           1921363
SD                    370047            363695
TN                   2484691           2442804
TX                   8903237           7962799
UT                    984957            923301
VA                   3844787           3745060
VT                    291413            297274
WA                   2957942           2840306
WI                   2944620           3056613
WV                    708226            661643
WY                    248742            245785

In [19]:
connection_string = "postgres:postgres@localhost:52589/votes_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
total_votes.to_sql(name='total_votes', con=engine, if_exists='append', index=False)